Apache-Point/*
Bad-Homburg/*
Bandung/*
Borowa-Gora/*
Boulder/*
Brasimone/*
Brussels/*
Canberra/*
Cantley/*
Cibinong/*
Concepcion/*
Conrad/*
Djougou/*
Esashi/*
Hsinchu/*
Kamioka/*
Kyoto/*
La-Plata/*
Larzac/*
Lhasa/*
Lijiang/*
Matsushiro/*
Medicina/*
Membach/*
Metsahovi/*
Mizusawa/*
Moxa/*
Ny-Alesund/*
Onsala/*
Pecny/*
Potsdam/*
Rustrel/*
Schiltach/*
Strasbourg/*
Sutherland/*
Syowa/*
Trappes/*
Vienna/*
Wettzell/*
Wuhan/*
Yebes/*
__pycache__/
*.pyc
*.swp
*.ggp
*.zip
*.log
ffts.npy
